<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Cuentas Bancarias</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <h1>Cuentas Bancarias</h1>

</header>

<section class="form-section">

    <h2>Crear Cuenta</h2>

    <form action="/crear_cuenta" method="POST">

        <input
        type="text"
        name="cliente"
        placeholder="Cliente"
        required>

        <input
        type="number"
        name="saldo"
        placeholder="Saldo Inicial"
        required>

        <button type="submit">
            Crear Cuenta
        </button>

    </form>

</section>

<section class="usuarios">

    <h2>Cuentas Registradas</h2>

    {% for cuenta in cuentas %}

        <div class="usuario-card">

            <h3>{{ cuenta[1] }}</h3>

            <p>Saldo: ${{ cuenta[2] }}</p>

        </div>

    {% endfor %}

</section>

</body>

</html>