<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Inventario</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <h1>Inventario Bancario</h1>

    <nav>

        <a href="/dashboard">
            Dashboard
        </a>

        <a href="/logout">
            Cerrar sesión
        </a>

    </nav>

</header>

<section class="form-section">

    <h2>
        Agregar Producto
    </h2>

    <form action="/agregar_producto" method="POST">

        <input
        type="text"
        name="producto"
        placeholder="Producto"
        required>

        <input
type="number"
name="cantidad"
placeholder="Cantidad"
min="1"
required>


        </select>

        <button type="submit">
            Guardar
        </button>

    </form>

</section>

<section class="usuarios">

    <h2>
        Productos Registrados
    </h2>

    {% for producto in productos %}

        <div class="usuario-card">

            <h3>
                {{ producto[1] }}
            </h3>

            <p>
                Cantidad:
                {{ producto[2] }}
            </p>

        </div>

    {% endfor %}

</section>

</body>

</html>